header
	.header-position
		h2.logo Simra Dance

		nav.site-nav
			ul
				li: a(href="#Welcome") Welcome
				li: a(href="#Presentation") Presentation
				li: a(href="#Biographies") Biographies
				li: a(href="#Avitivies") Avitivies
				li: a(href="#Calendar") Calendar
				li: a(href="#Media") Media
				li: a(href="#Contact") Contact
				li: a(href="#Links") Links
				li: a(href="#Gifts") Gifts

		a(href="mailto:margarita@simradance.com").email-link email

		.mobile-nav-toggle