mixin nav-content()
	ul
		li: a(href="#welcome") Welcome
		li: a(href="#presentation") Présentation
		li: a(href="#filles") Biographies
		li: a(href="#avitivies") Avitivités
		li: a(href="#calendar") Calendar
		li: a(href="#media") Media
		li: a(href="#contact") Contact
		li: a(href="#links") Links
		li: a(href="#gifts") Gifts

.mobil-nav
	+nav-content

header#nav
	.header-position
		h2.logo Simra Dance

		nav.site-nav
			+nav-content

		.mobile-nav-toggle: span