<article id="bioaline">
<p>
Bonjour!<br />
Je m’appelle Aline, j’ai 24 ans. J’ai fait un bachelor en théologie avant de commencer la HEP à Lausanne, je suis maintenant en 2ème année. <br />
Ca fait environ une année et demi que j’ai commencé les cours de danse orientale et bientôt une année que je fais partie de Simra. Cela m’a beaucoup apporté. Danse, partage et prière font de ces cours des moments vraiment riches. J’aime cette danse, j’apprécie l’amitié dans le groupe et le fait qu’il n’y ait pas de compétition entre nous comme c’est le cas dans certaines écoles de danse. Ce n’est pas toujours évident, mais la danse est devenue une manière de louer Dieu, de me placer sous son regard plutôt que sous un autre.
</p>
</article>