<article id="biocaroline">
<p>
Je m’appelle Caroline, je suis mariée et nous avons 2 enfants adultes.<br />
La musique a toujours fait partie de ma vie. D’aussi loin que je me souvienne, j’ai toujours aimé chanter et danser.<br />
Je suis enseignante dans une école chrétienne ce qui me permet, en plus d’enseigner, de vivre et partager ma foi avec mes élèves.<br />
Une de mes passions est le chant, je fais partie d’un groupe de Gospel, j’ai dirigé des chœurs d’enfants et d’adulte et j’enseigne le chant à l’école.<br />
Une autre passion est de conter la Bible ou d’autres histoires (de Noël par exemple).<br />
Danser dans la compagnie est une réponse à un appel que Dieu m’a lancé il y a longtemps. Durant toutes ces années, j’ai vécu des guérisons par rapport à mon estime de moi, ma confiance en Dieu, le regard que je porte sur mon corps et ce qu’il est pour Dieu. J’ai également appris l’humilité. Je suis une fille du Roi des rois, une princesse et je le réalise toujours plus ; je peux m’en sentir digne à présent.
</p>
<p>
Ayant de lointaines origines Manouches, la musique orientale et ce style de danse fait vibrer mon intérieur. Mais le fait de faire de la danse orientale alors que, lorsque j’étais une jeune fille, j’ai utilisé la danse pour séduire est un sacré clin d’œil de Dieu ! C’était la dernière danse que j’imaginais faire !<br />
Maintenant, la danse est devenue une manière d’adoration et d’exprimer mes sentiments. Danser pour louer Dieu est quelque chose d’extraordinaire ! Si en plus, par la danse, nous pouvons toucher d’autres femmes en laissant Dieu travailler en nous, c’est merveilleux !
</p>
</article>