<article id="bioolivianne">
<p>
À mon tour de me présenter… Olivianne, étudiante en physiothérapie (plus pour longtemps !) et passionnée de tout ce qui est mouvement, tout ce qui concerne le corps humain et la personne dans son entier <img src="img/smiley.png" height="14" />. À mes moments perdus, je suis aussi monitrice avec les enfants, apprentie choriste et engagée dans une paroisse.<br />
Pourquoi je suis à Simra ? Tout d’abord, parce qu’avant même de m’engager dans la compagnie, j’ai beaucoup reçu en participant au cours de danse orientale. Maintenant, en faisant partie de la compagnie, plusieurs aspects me touchent particulièrement :
<ul>
<li>en prenant la décision chaque semaine de venir danser, je (re !)découvre à chaque fois à Simra un espace de liberté, sans jugements, où je peux me « connecter » à Dieu. Un moment où je puis reprendre des forces et remercier le Seigneur !</li>
<li>parce que petit à petit, on est travaillée, changée, on grandit : comment vivre en étant libre par rapport au regard des autres, avoir confiance en soi, découvrir l’estime de Dieu pour soi, et puis comment vivre tout cela dans le quotidien, en dehors de la danse !!</li>
<li>la danse comme moyen de louer : chercher à exprimer et louer par le corps, tout un travail, mais aussi une superbe découverte…</li>
<li>vivre en groupe ! Apprendre à se respecter, à accepter chacune comme elle est, à s’enrichir mutuellement.</li>
</ul>
Pourquoi je continue ? Ben parce que ce que je reçois et apprends ici, j’aimerais contribuer à le partager et à le transmettre plus loin, à le faire découvrir. Et puis se laisser dépasser par cette aventure, dans laquelle en tant qu’humain on ne maîtrise finalement pas grand-chose !! 
</p>
</article>